<head>
<link rel="stylesheet" href="/stylesheets/styles.css" />
</head>
<div class="card" style="width: 18rem;">
  <img src="{{beer.image_url}}" class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">{{beer.name}}</h5>
    <p class="card-text">{{beer.description}}</p>
    <p>{{beer.tagline}}</p>
  </div>
</div>
